body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.btn-custom:hover {
  color: #3498db;
}
.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-late{
  background-color: #e74c3c;
}

.project-today {
  background-color: #fff5d1;;
}